<header>
  <div>
 <div class="current">
    USD:{{resultUSD}}
 
 <div>
    EUR:{{resultEUR}}
 </div>
</div>
</div>

</header>

<div style="display: flex; height:700px;justify-content: center;align-items:center ;">
  <div class="main-container">
    <div class="selection-cont">
     
      <select #c1 name="" id="country" (mouseleave)="changebase(c1.value)">
        <option value="USD"> USD</option>
        <option value="UAH"> UAH</option>
        <option value="EUR"> EUR</option>
      </select>
      <p>to</p>
      <p></p>
     
      <select #c2 name="" id="country" (mouseleave)="tocountry(c2.value)">
        <option value="USD"> USD</option>
        <option value="UAH"> UAH</option>
        <option value="EUR"> EUR</option>
      </select>
    </div>

    <div class="result-container">
      <p><input #inp1 id="inp1" (change)="changeTest()" />{{base}}</p>
      <p>=</p>
      <p><input #inp2 id="inp2" (change)="changeTest2()" />{{count2}}</p>
    </div>
  
  </div>
</div>
